<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lista de Livros</title>
</head>

<body>
    <h1>Livros disponível para venda</h1>

    <p>Temos <%= @books.size %> livros disponíveis</p>

    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>ISBN</th>
                <th>Preço</th>
            </tr>
        </thead>

        <tbody>
            <% @books.each do |book| %>
            <tr>
                <td><%= book.isbn %></td>
                <td><%= book.title %></td>
                <td><%= book.price %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</body>
</html>
